body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* BASE COLOR */
.primary {
  color: #1890ff !important;
}
.success {
  color: #52c41a !important;
}
.secondary {
  color: #8c8c8c !important;
}

.warning {
  color: #faad14 !important;
}

.danger {
  color: #ff4d4f !important;
}

/* ====================================================================== MARGIN :: */
/* Margin Top */
.mt-0 {
  margin-top: 0 !important;
}
.mt-1{
  margin-top: 5px !important;
}
.mt-2{
  margin-top: 10px !important;
}
.mt-3{
  margin-top: 20px !important;
}

/* Margin bottom */
.mb-0 {
 margin-bottom: 0 !important;
}
.mb-1{
 margin-bottom: 5px !important;
}
.mb-2{
 margin-bottom: 10px !important;
}
.mb-3{
 margin-bottom: 20px !important;
}

/* Margin left */
.ml-0 {
 margin-left: 0 !important;
}
.ml-1{
 margin-left: 5px !important;
}
.ml-2{
 margin-left: 10px !important;
}
.ml-3{
 margin-left: 20px !important;
}

/* Margin right */
.mr-0 {
 margin-right: 0 !important;
}
.mr-1{
 margin-right: 5px !important;
}
.mr-2{
 margin-right: 10px !important;
}
.mr-3{
 margin-right: 20px !important;
}

/* ================================================================= PADDING :: */
/* Padding Top */
.pt-0 {
  padding-top: 0 !important;
}
.pt-1{
  padding-top: 5px !important;
}
.pt-2{
  padding-top: 10px !important;
}
.pt-3{
  padding-top: 20px !important;
}

/* Padding bottom */
.pd-0 {
 padding-bottom: 0 !important;
}
.pd-1{
 padding-bottom: 5px !important;
}
.pd-2{
 padding-bottom: 10px !important;
}
.pd-3{
 padding-bottom: 20px !important;
}

/* Padding left */
.pl-0 {
 padding-left: 0 !important;
}
.pl-1{
 padding-left: 5px !important;
}
.pl-2{
 padding-left: 10px !important;
}
.pl-3{
 padding-left: 20px !important;
}

/* Padding right */
.pr-0 {
 padding-right: 0 !important;
}
.pr-1{
 padding-right: 5px !important;
}
.pr-2{
 padding-right: 10px !important;
}
.pr-3{
 padding-right: 20px !important;
}